body {
    margin: 0;
    padding: 0;
}

#background
{
    left: 0px;
    top: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    z-index:0;
}

#overlaybg
{
    left: 341px;
    top: 10px;
    position: absolute;
    width: 1239px;
    height: 76px;
    z-index:3;
}

.logob
{
    left: 300px;
    top: 10px;
    position: absolute;
    max-width: 200px;
    max-height: 76px;
    z-index:5;
}

.logoo
{
    right: 300px;
    top: 10px;
    position: absolute;
    max-width: 200px;
    max-height: 76px;
    z-index:5;
}


#win_counter_frame_0_b
{
    left: 716px;
    top: 88px;
    position: absolute;
    width: 124px;
    height: 18px;
    z-index:8;
}

#win_counter_frame_1_b
{
    left: 678px;
    top: 88px;
    position: absolute;
    width: 124px;
    height: 18px;
    z-index:8;
}

#win_counter_frame_2_b
{
    left: 640px;
    top: 88px;
    position: absolute;
    width: 124px;
    height: 18px;
    z-index:8;
}

#win_counter_glow_0_b
{
    left: 716px;
    top: 88px;
    position: absolute;
    width: 124px;
    height: 18px;
    z-index:9;
}

#win_counter_glow_1_b
{
    left: 678px;
    top: 88px;
    position: absolute;
    width: 124px;
    height: 18px;
    z-index:9;
}

#win_counter_glow_2_b
{
    left: 640px;
    top: 88px;
    position: absolute;
    width: 124px;
    height: 18px;
    z-index:9;
}

#win_counter_frame_0_o
{
    right: 716px;
    top: 88px;
    position: absolute;
    width: 124px;
    height: 18px;
    z-index:8;
    transform: scaleX(-1);
}

#win_counter_frame_1_o
{
    right: 678px;
    top: 88px;
    position: absolute;
    width: 124px;
    height: 18px;
    z-index:8;
    transform: scaleX(-1);
}

#win_counter_frame_2_o
{
    right: 640px;
    top: 88px;
    position: absolute;
    width: 124px;
    height: 18px;
    z-index:8;
    transform: scaleX(-1);
}

#win_counter_glow_0_o
{
    right: 716px;
    top: 88px;
    position: absolute;
    width: 124px;
    height: 18px;
    z-index:9;
    transform: scaleX(-1);
}

#win_counter_glow_1_o
{
    right: 678px;
    top: 88px;
    position: absolute;
    width: 124px;
    height: 18px;
    z-index:9;
    transform: scaleX(-1);
}

#win_counter_glow_2_o
{
    right: 640px;
    top: 88px;
    position: absolute;
    width: 124px;
    height: 18px;
    z-index:9;
    transform: scaleX(-1);
}

#cheer
{
    left: 127px;
    top: 83px;
    position: absolute;
    width: 1670px;
    height: 18px;
    z-index:10;
}
#cheert
{
    left: 127px;
    top: 83px;
    position: absolute;
    width: 1670px;
    height: 18px;
    z-index:12;
}
#boostmeterblue
{
    left: 16px;
    top: 120px;
    position: absolute;
    width: 34px;
    height: 285px;
    z-index:11;
}

#boostmeterorange
{
    right: 16px;
    top: 120px;
    position: absolute;
    width: 34px;
    height: 285px;
    z-index:11;
    transform: scaleX(-1);

}

#boostfillblue
{
    left: 21px;
    top: 126px;
    position: absolute;
    width: 27px;
    height: 273px;
    z-index:13;
}

#boostfillorange
{
    right: 21px;
    top: 126px;
    position: absolute;
    width: 27px;
    height: 273px;
    z-index:14;
    transform: scaleX(-1);
}

#botnameb
{
    right: 1174px;
    top: 17px;
    position: absolute;
    z-index:13;
    text-align: right;
    font-family: Arial, r, monospace;
    font-size: 32px;
    color: white;
}

#botnameo
{
    left: 1174px;
    top: 17px;
    position: absolute;
    z-index:13;
    text-align: left;
    font-family: Arial, r, monospace;
    font-size: 32px;
    color: white;
}

#devnameb
{
    right: 1174px;
    top: 53px;
    position: absolute;
    z-index:13;
    text-align: right;
    font-family: Arial, r, monospace;
    font-size: 19px;
    color: white;
}

#devnameo
{
    left: 1174px;
    top: 53px;
    position: absolute;
    z-index:13;
    text-align: left;
    font-family: Arial, r, monospace;
    font-size: 19px;
    color: white;
}

#socialmediabar
{
    left: 367px;
    top: 1034px;
    position: absolute;
    width: 1175px;
    height: 46px;
    z-index:15;
}

#goal
{
    left: 0px;
    top: 0px;
    position: absolute;
    width: 1920px;
    height: 1080px;
    z-index: 16;
}
